/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #eeeeee;
  font-weight: bold;
}

span {
  font-size: 16px;
  color: #3d5da1;
}

p {
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  text-align: center;
  background-color: #008a54;
  color: white;
  font-size: 28px;
  padding: 16px;
}

.header h1 img {
  width: 1em;
}

.content {
  color: #505050;
  padding-top: 40px;
}

.content .use-a {
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(39, 91, 185, 0.15);
          box-shadow: 0px 4px 4px rgba(39, 91, 185, 0.15);
  border-radius: 12px;
  padding: 24px 0px 24px 0px;
  max-width: 800px;
  background-color: white;
  margin-bottom: 24px;
}

.content .use-a .step-a1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.content .use-a .step-a1 .step1a-phone {
  margin-left: 8%;
  margin-right: 15%;
}

.content .use-a .step-a2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.content .use-a .step-a2 ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .use-a .step-a2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  line-height: 1.5;
  font-size: 18px;
}

.content .use-a .step-a2 ul li img {
  margin-right: 8px;
}

.content .use-a .step-a2 ul .example-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .use-a .step-a2 ul .example-money .example-w {
  margin-bottom: 8px;
}

.content .use-a .step-a2 ul .example-money .example-img {
  width: 200px;
}

.content .use-a .step-a2 ul .ps-w {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #5e626b;
  font-size: 14px;
  font-weight: 400;
}

.content .use-a .step-a2 .step2a-phone {
  margin-left: 7%;
  margin-right: 6%;
}

.content .use-b {
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(39, 91, 185, 0.15);
          box-shadow: 0px 4px 4px rgba(39, 91, 185, 0.15);
  border-radius: 12px;
  padding: 24px 0px 24px 0px;
  max-width: 800px;
  background-color: white;
  margin-bottom: 24px;
}

.content .use-b .sb-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.content .use-b .sb-1 .stepb1-phone {
  margin-right: 5%;
}

.content .use-b .sb-1 ul {
  width: 50%;
}

.content .use-b .sb-1 ul li {
  font-size: 18px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 8px;
}

.content .use-b .sb-1 ul li img {
  margin-right: 8px;
}

.content .use-b .sb-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 18px;
}

.content .use-b .sb-2 p {
  width: 50%;
  line-height: 1.5;
}

.content .use-b .sb-2 p img {
  width: 20px;
  height: 20px;
}

.content .use-b .sb-2 .sb2-phone {
  margin-right: 6%;
  margin-left: 3%;
}

.content .use-b .sb-2 img {
  margin-left: 4px;
  margin-right: 4px;
}

.content .use-c {
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(39, 91, 185, 0.15);
          box-shadow: 0px 4px 4px rgba(39, 91, 185, 0.15);
  border-radius: 12px;
  padding: 24px 0px 24px 0px;
  max-width: 800px;
  background-color: white;
  margin-bottom: 72px;
}

.content .use-c h2 {
  font-size: 24px;
  color: white;
}

.content .sc-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  margin-bottom: 64px;
}

.content .sc-1 .sc-phone {
  width: 40%;
  margin-right: 5%;
}

.content .sc-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.content .sc-2 .sc2-phone {
  width: 45%;
  margin-right: 5%;
}

.content .sc-2 .sc-w {
  line-height: 1.5;
  margin-left: 12px;
}

.content .sc-2 .sc-w img {
  margin-right: 8px;
  margin-left: 8px;
}

.qa-title {
  margin: 0px 60px;
  margin-bottom: 16px;
}

.qa-title > div {
  background-color: #008a54;
  display: inline-block;
  border-radius: 8px;
  padding: 10px 12px;
}

.qa-title > div h2 {
  display: inline-block;
  font-size: 21px;
  color: #ffffff;
}

.qa-title > div img {
  display: inline-block;
}

.qa-title img {
  margin-right: 8px;
}

.qa-title .parent-img {
  display: inline-block;
  width: 24px;
}

@media (max-width: 768px) {
  .qa-title .content {
    color: #505050;
    padding-top: 40px;
  }
  .qa-title .content .use-a {
    margin: 0 auto;
    border-radius: 12px;
    padding: 24px 0px 24px 0px;
    width: 90%;
    background-color: white;
    margin-bottom: 72px;
  }
  .qa-title .content .use-a .step-a1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px;
  }
  .qa-title .content .use-a .step-a1 .step-slide1 {
    margin-right: 5%;
  }
  .qa-title .content .use-a .step-a1 .step1a-phone {
    margin-right: 5%;
  }
  .qa-title .content .use-a .step-a2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
  .qa-title .content .use-a .step-a2 ul {
    width: 45%;
  }
  .qa-title .content .use-a .step-a2 ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px;
  }
  .qa-title .content .use-a .step-a2 ul li img {
    margin-right: 8px;
  }
  .qa-title .content .use-a .step-a2 ul .ps-w {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #DD914F;
    font-size: 14px;
  }
  .qa-title .content .use-a .step-a2 .step-slide2 {
    margin-left: 3%;
  }
  .qa-title .content .use-a .step-a2 .step2a-phone {
    margin-left: 1%;
  }
  .qa-title .content .use-b {
    margin: 0 auto;
    border-radius: 12px;
    padding: 24px 0px 24px 0px;
    width: 90%;
    background-color: white;
    margin-bottom: 72px;
  }
  .qa-title .content .use-b .sb-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px;
  }
  .qa-title .content .use-b .sb-1 .stepb1-phone {
    margin-right: 2%;
    width: 40%;
  }
  .qa-title .content .use-b .sb-1 ul {
    width: 50%;
  }
  .qa-title .content .use-b .sb-1 ul li {
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 16px;
  }
  .qa-title .content .use-b .sb-1 ul li img {
    margin-right: 8px;
  }
  .qa-title .content .use-b .sb-2 {
    margin-bottom: 60px;
  }
  .qa-title .content .use-b .sb-2 .sb2-phone {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .qa-title .content .use-b .sb-2 p {
    width: 45%;
    line-height: 1.5;
  }
  .qa-title .content .use-c {
    margin: 0 auto;
    border-radius: 12px;
    padding: 24px 0px 24px 0px;
    width: 90%;
    background-color: white;
    margin-bottom: 72px;
  }
  .qa-title .content .use-c .sc-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 64px;
  }
  .qa-title .content .use-c .sc-1 .sc-phone {
    width: 40%;
    margin-right: 5%;
  }
  .qa-title .content .use-c .sc-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
  .qa-title .content .use-c .sc-2 .sc2-phone {
    margin-right: 5%;
    width: 40%;
  }
  .qa-title .content .use-c .sc-2 .sc-w {
    line-height: 1.5;
  }
}

.step-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 60px;
  margin-bottom: 20px;
  width: calc( 100% - 120px);
}

.step-box .img {
  width: 36%;
  margin-right: 50px;
}

.step-box .step-box-02 {
  width: 64%;
}

.step-sm-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.step-sm-box .orange-tag {
  margin-right: 6px;
}

.step-sm-box .words {
  font-size: 14px;
  color: #5e626b;
  font-weight: 400;
  line-height: 1.3em;
}

.step-sm-box .words .title {
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  position: relative;
  top: -0.2em;
  line-height: 1.4em;
}

.text-red {
  color: #FF1C1C;
}

.text-green {
  color: #12A599;
}

.text-blue {
  color: #1f7ff9;
}

.green-tag {
  border-radius: 4px;
  padding: 3px 8px;
  background-color: #12A599;
  color: #ffffff;
  font-weight: 400;
  display: inline-block;
}

.coin {
  width: 1em;
  padding: 0px 3px;
  position: relative;
  top: 2px;
}

.step01-box {
  display: block;
  text-align: center;
  margin-bottom: 80px;
}

.step01-box .step01-img {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step01-box .step01-img .img {
  margin-right: 0;
  width: 37%;
}

.step01-box .step01-img span {
  width: 13%;
}

.step01-box .step-sm-box {
  display: block;
  text-align: center;
}

.step01-box .step-sm-box > div {
  display: inline;
}

.step01-box .step-sm-box-w32 {
  max-width: 32em;
  margin: 0 auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.phone-block {
  display: none;
}

.orange-tag {
  border-radius: 50%;
  color: #ffffff;
  padding: 1.5px 8px;
  background-color: #FFB610;
  font-size: 14px;
  display: inline-block;
}

.orange-tag-step {
  padding: 4px 7px;
}

.orange-tag-step01 {
  padding: 4px 8px;
}

.content .sc-2 .sc2-phon {
  width: 40%;
  margin-right: 12px;
}

.step-box-02 .orange-tag {
  position: relative;
  top: -2px;
}

@media (max-width: 768px) {
  .web-block {
    display: none !important;
  }
  .phone-block {
    display: block;
  }
  .header {
    font-size: 21px;
  }
  .content .qa-title .parent-img {
    width: 20px;
  }
  .content .qa-title h2 {
    font-size: 18px;
  }
  .step-box {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px;
  }
  .step-box .img {
    width: 60%;
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .qa-title {
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
  }
  .step-box .step-box-02 {
    width: calc( 100% - 48px);
    margin: 0px 24px;
  }
  .step-box .step-box-02 .step-sm-box {
    text-align: left;
  }
  .content {
    padding-top: 20px;
  }
  .content .sc-2 {
    display: block;
    text-align: center;
    margin: 0px 12px;
    margin-bottom: 20px;
  }
  .content .sc-2 img {
    margin-bottom: 12px;
  }
  .content .use-c {
    margin-bottom: 30px;
  }
  span, p, .sc-w, .step-sm-box .words .title {
    font-size: 16px;
  }
  .content .sc-2 .sc2-phon {
    width: 80%;
    margin-right: 0px;
  }
}
/*# sourceMappingURL=style.css.map */