@charset 'UTF-8';

.api_rwd{
	max-width: 80%;
	margin: 0 auto;
}
.api_rwd .point{
	color: #ff6d6d;
}
.api_rwd .green_title{
	color: #FFF;
    padding: 0.2em 0.5em;
    width: 100%;
    background-color: #12AAC6;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
}
.api_rwd .green_bold_title{
	color: #12AAC6;
    padding: 0.2em 0.5em 0.2em 0;
    font-size: 1.1em;
    font-weight: 600;
}
.api_rwd .green_subtitle {
	color: #795548;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
    border-bottom: #c1e9e7 2px solid;
}
.api_rwd .green_subtitle span {
	background-color: #c1e9e7;
	padding: 3px 10px;
	border-radius: 3px;
	color: #5f5f5f;
}
.api_rwd .blue_title{
	color: #FFF;
	padding: 0.2em 1em;
	width: 100%;
	background-color: #0983B2;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.api_rwd .small_tips{
	color: #666;
	font-size: 13px;
	padding: 0 10px;
}
.api_rwd .alert_input {
	border-color: #e27373;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 67, 54, 0.29);
}
/* 以下是新版面css */
.api_rwd .new_student_data_1{
	display: flex;
	flex-wrap: wrap;
	color: #284852;
	/* margin-top: 15px; */
	font-size:15px;
}
.api_rwd .form-2{
	width: calc((100% / 10)*1);
	display: inline-flex;
/* 	flex-wrap: wrap; */
	/* padding-left: 10px; */
	box-sizing: border-box;
	margin-bottom: 10px;
    color: #3094A7;
    font-weight: 500;
	align-items: center;
	font-size: 15px;
	white-space: nowrap;
/* 	justify-content: flex-end; */
}
.api_rwd .form-4{
	width: calc((100% / 10)*4);
	display: inline-flex;
/* 	flex-wrap: wrap; */
	padding-left: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	align-items: center;
}
.api_rwd .form-10{
	width: calc((100% / 10)*9);
	display: inline-flex;
/* 	flex-wrap: wrap; */
	padding-left: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	align-items: center;
}

.api_rwd .form-1{
	width: calc((100% / 12)*1);
	display: inline-flex;
/* 	flex-wrap: wrap; */
	/* padding-left: 10px; */
	box-sizing: border-box;
	margin-bottom: 10px;
    color: #067778;
    font-weight: 500;
	align-items: center;
	font-size: 15px;
	white-space: nowrap;
/* 	justify-content: flex-end; */
}
.api_rwd .form-3{
	width: calc((100% / 12)*4);
	display: inline-flex;
/* 	flex-wrap: wrap; */
	padding-left: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	align-items: center;
}
.api_rwd .form-11{
	width: calc((100% / 12)*10);
	display: inline-flex;
/* 	flex-wrap: wrap; */
	padding-left: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	align-items: center;
}

.api_rwd .radio > span{
	margin-right: 10px;
}
.api_rwd .new_student_data_1 input[type="text"]{
	width: 90%;
	display: inline;
	height: 1.8em;
}
.api_rwd .new_student_data_1 select{
	width: auto;
	display: inline;
	height: 1.8em;
	margin-right: 4px;
	padding: 3px;
}
.api_rwd .new_student_data_1 .content{
	width:100%;
	margin-right:2px;
    display: inline-flex;
}

/* 以上是新版面css */

@media screen and (max-width: 768px){
	.api_rwd .brother_item{
		display: block;
		width: 100%;
	}
}

@media screen and ( min-width: 421px ) and ( max-width: 767px ){
	.api_rwd .page1 .form-group div input{
		display: inline-block;
	}
/* 以下是新版面css */
	.api_rwd .new_student_data_1{
		flex-wrap: wrap;
	}
	.api_rwd .new_student_data_1 .content{
		width:100%;
		margin-right:5px;
	    display: flex;
        margin-bottom: 4px;
	}
	.api_rwd .form-2{
		width: calc((100% / 12)*3);
		display: inline-flex;
		flex-wrap: wrap;
		padding-left: 0px;
		align-items: flex-start;
	}
	.api_rwd .form-4{
		width: calc((100% / 12)*9);
		display: inline-flex;
	 	flex-wrap: wrap;
		padding-left: 10px;
	}
	.api_rwd .form-10{
		width: calc((100% / 12)*9);
		display: inline-flex;
	 	flex-wrap: wrap;
		padding-left: 10px;
	}
	
	.api_rwd .form-1{
		width: calc((100% / 12)*2);
		display: inline-flex;
		flex-wrap: wrap;
		padding-left: 0px;
		align-items: flex-start;
	}
	.api_rwd .form-3{
		width: calc((100% / 12)*10);
		display: inline-flex;
	 	flex-wrap: wrap;
		padding-left: 10px;
	}
	.api_rwd .form-11{
		width: calc((100% / 12)*10);
		display: inline-flex;
	 	flex-wrap: wrap;
		padding-left: 10px;
	}
	
/* 以上是新版面css */
}
@media screen and ( max-width: 420px ){
	.api_rwd .main{
		display: block;
	}
	.api_rwd .page1 .form-group div input{
		width: 100% !important;
	    margin-right: 0px;
	}
	.api_rwd .data_1 input[type|=text],.api_rwd .data_1 input[type|=date],.api_rwd .data_1 select,.api_rwd .data_2 input[type|=text],.api_rwd .data_2 input[type|=date],.api_rwd .data_2 select,.api_rwd .data_3 input[type|=text],.api_rwd .data_3 input[type|=date],.api_rwd .data_3 select{
		width: calc(100% - 8em);
		margin-bottom: 0.2em;
	}
	.api_rwd label{
		width: 28%;
		max-height:3em ;
		display: inline-block;
	}
	.api_rwd .data_3 label{
		width: 4.2em;
	}
	.api_rwd .inline_block{
		display: inline-block;
	}
	.api_rwd .data_1 form ul li,.api_rwd .data_2 form ul li,.api_rwd .data_3 form ul li{
		display: block;
	}
	.api_rwd .label_set{
		height: 3em;
		float: none;
	}
	.api_rwd .form-group{
		padding: 3px 10px;
	}
 	/* 以下是新版面css */
	.api_rwd .new_student_data_1 .content{
		width:100%;
		margin-right:5px;
	    display: flex;
	    margin-bottom: 4px;
	}
	.api_rwd .form-2{
		width: calc((100% / 12)*2);
		display: inline-flex;
		flex-wrap: wrap;
		padding-left: 0px;
	    align-items: flex-start;
	    font-size: 12px;
	}
	.api_rwd .form-4{
		width: calc((100% / 12)*10);
		display: inline-flex;
	 	flex-wrap: wrap;
		padding-left: 10px;
	}
	.api_rwd .form-10{
		width: calc((100% / 12)*10);
		display: inline-flex;
	 	flex-wrap: wrap;
		padding-left: 10px;
	}
	/* 以上是新版面css */
}

/* 開關 */
input[type=checkbox]#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

label:active:after {
  width: 10px;
}
