@charset'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+TC&display=swap');
body {
  color: #444444;
  font-family: 'Noto Sans TC','Montserrat', sans-serif;
  font-size: 14px;
}
.white-box{
	box-shadow: 0 0 6px rgba(34, 63, 128, 0.16);
}
.normal_text{
	color: #12C6AA;
}
.warning_text{
	color: #ff6d6d;
}
.wrapper{
	max-width: 1000px;
	margin: 0 auto;
}
.arrow_down{
  color: #FFF;
  font-size: 1.5em;
  padding: 7px;
  position: absolute;
  right: 20px;
  top: 2px;
}
#tab-list label {
    margin-bottom: 0;
}
ul#tabs-list {
  list-style: none;
  /* text-align: center; */
  border-bottom: 1px solid #dfdfdf;
  margin: 0;
  padding: 0;
}

label.panel-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 100%;
  color: #707070;
  cursor: pointer;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
label.panel-label:hover {
  color: #0B778B;
}

#panels {
  background-color: white;
}
#panels section header label.panel-label {
  padding: 12px 24px;
  box-sizing: border-box;
}
#panels section main {
  box-sizing: border-box;
  max-height: 0;
  opacity: 0;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
  overflow-y: hidden;
}

#panel-1-ctrl:checked ~ #panels #panel-1 main,#panel-2-ctrl:checked ~ #panels #panel-2 main,#panel-3-ctrl:checked ~ #panels #panel-3 main,#panel-4-ctrl:checked ~ #panels #panel-4 main {
  max-height: initial;
  opacity: 1;
  padding: 15px 0px;
}
.left_menu{
	width: 15%;
	float: left;
	margin-right: 15px;
}
.left_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
  margin-bottom: 15px;
}
.left_menu ul li{
	border-radius: 3px;
    width: 100%;
    padding: 8px;
    background-color: #E0F9FF;
    color: #3094A7;
    margin-bottom: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.left_menu ul li.active{
	background-color: #12AAC6;
	color: #FFF;
}
.left_menu ul li .numbers{
	color: #12AAC6;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	padding: 2px 3px;
	box-sizing: border-box;
	float: right;
}
.h3_title{
  color: #12AAC6;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 5px 0;
  display: inline-block;
}
.right_content{
	width: calc(85% - 15px);
	float: left;
}
.tool_bar{
  margin-bottom: 10px;
}
.data_bar{
	display: flex;
	margin-bottom: 15px;
  width: 75%;
}
.data_bar .data_item{
	flex: 1;
	margin-right: 5px;
	box-shadow: 0 0 6px rgba(34, 63, 128, 0.16);
  cursor: pointer;
}
.data_bar .data_item .title{
	line-height: 27px;
	height: 27px;
	color: #FFF;
	text-align: center;
}
.data_bar .data_item .count{
	display: block;
	padding: 8px;
	text-align: center;
	box-sizing: border-box;
	font-size: 1.3em;
	color: #848484;
}
.color_1{
	background-color: #12C6AA;
}
.color_2{
	background-color: #E3BA0F;
}
.color_3{
	background-color: #B389D3;
}
.color_4{
	background-color: #768DF2;
}
.color_5{
  background-color: #FF9E3C;
}
.color_6{
  background-color: #00BCF4;
}
.data_bar .data_item:nth-child(6n){
	margin-right: 0px;
}
.list_table{
	color:#707070;
	margin-bottom: 15px;
  width: 100%;
}
.list_table ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.list_table > ul > li > ul.thead li{
	background-color: #EAEAEA;
	color: #3B3B3B;
	padding: 5px 8px;
	box-sizing: border-box;
}
.list_table > ul > li > ul{
	display: flex;
}
.list_table .content_list{
	border-bottom: 1px solid #EFEFEF;
}
.list_table .content_list:hover{
  cursor: pointer;
  background-color: #ccdcff26;
  transition: 0.1s;
  color: #333;
}
.list_table .content_list li{
	padding: 6px 8px;
	box-sizing: border-box;
}
.company_use > ul > li > ul >li:nth-child(1){
	width: 23%;
}
.company_use > ul > li > ul >li:nth-child(2){
	width: 9%;
	text-align: right;
}
.company_use > ul > li > ul >li:nth-child(3){
	width: 12%;
	text-align: right;
}
.company_use > ul > li > ul >li:nth-child(4){
	width: 12%;
	text-align: right;
}
.company_use > ul > li > ul >li:nth-child(5){
	width: 12%;
	text-align: center;
}
.company_use > ul > li > ul >li:nth-child(6){
  width: 16%;
  text-align: right;
}
.company_use > ul > li > ul >li:nth-child(7){
  width: 16%;
  text-align: right ;
}
.api_use > ul > li > ul >li:nth-child(1){
  width: 22%;
}
.api_use > ul > li > ul >li:nth-child(2){
  width: 14%;
  text-align: right;
}
.api_use > ul > li > ul >li:nth-child(3){
  width: 14%;
  text-align: right;
}
.api_use > ul > li > ul >li:nth-child(4){
  width: 14%;
  text-align: right;
}
.api_use > ul > li > ul >li:nth-child(5){
  width: 14%;
  text-align: right;
}
.api_use > ul > li > ul >li:nth-child(6){
  width: 14%;
  text-align: right;
}
.api_use > ul > li > ul >li:nth-child(7){
  width: 8%;
  text-align: right ;
}
.api_enter > ul > li > ul >li:nth-child(1){
  width: 8%;
}
.api_enter > ul > li > ul >li:nth-child(2){
  width: 12%;
}
.api_enter > ul > li > ul >li:nth-child(3){
  width: 15%;
}
.api_enter > ul > li > ul >li:nth-child(4){
  width: 40%;
}
.api_enter > ul > li > ul >li:nth-child(5){
  width: 10%;
}
.api_enter > ul > li > ul >li:nth-child(6){
  width: 25%;
}
.flex{
  display: flex;
}
.chart_1{
	padding: 10px;
  flex: 1;
  margin-right: 10px;
}
.chart_2{
  padding: 10px;
  flex: 2;
}
.chart:nth-child(even){
	margin-right: 0;
}
span.nav_1{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/nav_1.svg');
	position: relative;
	top: 1px;
}
span.nav_2{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/nav_2.svg');
	position: relative;
	top: 1px;
}
span.nav_3{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/nav_3.svg');
	position: relative;
	top: 1px;
}
span.nav_4{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/nav_4.svg');
	position: relative;
	top: 1px;
}


/* 系統設定 */
/* 標題文字 */
.item_title{
  font-size:1.1em;
  color:#0B778B;
  font-weight:bold;
  display:inline-block;
  border-left:solid 5px #0B778B;
  margin-bottom: 5px;
}
.item_title span{
  margin-left: 5px;
}
.item_title_box{
  margin-bottom:10px;
}
/* button */
.btn_font14{
  color:#ffffff;
  padding:2px 5px;
  border-radius:3px;
  cursor:pointer;
  margin-right:3px;
  display:inline-block;
  border: 0;
}

.btn_lightblue{
  background-color:#1CA9D3;
}
.btn_lightblue:hover{
  background-color:#0BBFF5;
  transition:all 0.2s ease 0s;
}

.btn_deepblue{
  background-color:#367F9A;
}
.btn_deepblue:hover{
  background-color:#27B1C3;
  color:#ffffff;
  text-decoration:none;
  transition:all 0.2s ease 0s;
  border-color:#27B1C3;
}

.btn_green{
  background-color:#039B1A;
}
.btn_green:hover{
  background-color:#47B198;
  transition:all 0.2s ease 0s;
}

.btn_red{
  background-color:#D16666;
}
.btn_red:hover{
  background-color:#FF4B4B;
  transition:all 0.2s ease 0s;
}

.btn_yellow{
  background-color:#FCC42D;
}
.btn_yellow:hover{
  background-color:#FFCE00;
  transition:all 0.2s ease 0s;
}

.flo_right{
  float:right;
  display:inline-block;
}

/* 新增人員 */
.add{
  background-color:#fbfbfb;
  padding:8px 0;
  display:block;
  margin-top:7px;
}
/* .add_person{
  display:inline-block;
  color:#535353;
  font-weight:bold;
  margin:0 10px;
} */
.add_person_title{
  color:#6F6F6F;
  font-weight:bold;
  margin-left:7px;
  display:inline-block;
}
::-webkit-input-placeholder{
  color:#9A9A9A;
}
::-moz-placeholder{
  color:#9A9A9A;
}
::-moz-placeholder{
  color:#9A9A9A;
}


/* 快速搜尋 */
.search_btn{
  color:#007FB7;
  display:inline-block;
  padding:2px 8px;
  cursor:pointer;
  border: 0px;
  border-bottom:solid 2px #ffffff;
  outline:none;
}
.search_btn:focus{
  border-bottom:solid 2px #007FB7;
}
.search_btn:hover{
  border-bottom:solid 2px #007FB7;
  transition:all 0.2s ease 0.1s;
}
.search_img{
  cursor:pointer;
  padding:5px;
}

/* 輸入框樣式 */
.input_box{
  outline:none;
  border-radius:3px;
  border:solid 1px #E0E0E0;
  padding:3px 5px;
}
.input_200{
  width:200px;
}
.input_400{
  width:320px;
}

/* 設定表格 */
.setting_table{
  margin-top:5px;
}
.setting_table ul{
  list-style-type:none;
  padding:0px;
  margin:0px;
}
.setting_list>li>ul{
  display:flex;
  background-color:#FAFAFA;
  border:solid 1px #EBEBEB;
  width:100%;
  box-sizing:border-box;
  padding:8px 10px;
}
.setting_list>li>ul>li:nth-child(1){
  width:13%;
  color:#1164A2;
  font-size:1.1em;
  font-weight:600;
}
.setting_list>li>ul>li:nth-child(2){
  width:10%;
  font-size:1.05em;
  font-weight:600;
  color:#575757;
}
.setting_list>li>ul>li:nth-child(3){
  width:50%;
  color:#959595;
}
.setting_list>li>ul>li:nth-child(4){
  width:15%;
  color:#0B778B;
}
.setting_list>li>ul>li:nth-child(5){
  width:12%;
}
.setting_list>li>ul>li>span{
  display:inline-block;
}
.setting_list>li>ul>li:nth-child(1) input{
  width:109px;
}
.setting_list>li>ul>li:nth-child(2) input{
  width:80px;
}
.setting_list>li>ul>li:nth-child(3) input{
  width:400px;
}


#panel-1-ctrl:hover ~ #tabs-list #li-for-panel-1 label .nav_1{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_1.svg);
    mask-image: url(../img/nav_1.svg);
}
#panel-2-ctrl:hover ~ #tabs-list #li-for-panel-2 label .nav_2{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_2.svg);
    mask-image: url(../img/nav_2.svg);
}
#panel-3-ctrl:hover ~ #tabs-list #li-for-panel-3 label .nav_3{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_3.svg);
    mask-image: url(../img/nav_3.svg);
}
#panel-4-ctrl:hover ~ #tabs-list #li-for-panel-4 label .nav_4{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_4.svg);
    mask-image: url(../img/nav_4.svg);
}

#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label .nav_1{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_1.svg);
    mask-image: url(../img/nav_1.svg);
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label .nav_2{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_2.svg);
    mask-image: url(../img/nav_2.svg);
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label .nav_3{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_3.svg);
    mask-image: url(../img/nav_3.svg);
}
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label .nav_4{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_4.svg);
    mask-image: url(../img/nav_4.svg);
}
@media all and (max-width: 767px) {
  .wrapper{
    width: 95%;
    margin: 0 auto;
  }
	.left_menu{
		width: 100%;
		margin-right: 0;
	}
	.left_menu ul li{
		float: left;
		width: auto;
		margin-right: 5px;
	}
  .left_menu .search .title{
    display: inline-block;
  }
  .left_menu .search{
    margin-bottom: 10px;
  }
	.right_content{
		width: 100%;
	}
	.panel-radios{
		display: none;
	}
	.data_bar{
		flex-wrap: wrap;
    width: 100%;
	}
	.data_bar .data_item{
		flex: inherit;
		width: calc(50% - 2.5px);
		margin-right: 5px;
	}
	.data_bar .data_item:nth-child(6n){
		margin-right: 5px;
	}
	.data_bar .data_item:nth-child(even){
		margin-right: 0px;
	}

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-5 {
    max-height: 46px;
    opacity: 1;
  }

  #open-nav-label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  #nav-ctrl:checked ~ #tabs-list #open-nav-label {
    display: none;
  }

  #close-nav-label {
    display: block;
    max-height: 0;
    overflow-y: hidden;
    color: #FFF;
    background-color: #333;
    padding: 0px;
    -webkit-transition: max-height 20ms;
    transition: max-height 20ms;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 12px;
    letter-spacing: 1px;
  }

  #nav-ctrl:checked ~ #tabs-list #close-nav-label {
    max-height: 36px;
    opacity: 1;
    padding: 12px 24px;
    text-align: center;
  }

  #tabs-list {
    position: relative;
  }
  #tabs-list label.panel-label {
    padding: 12px 15px;
    box-sizing: border-box;
  }
  #tabs-list #li-for-panel-1 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;	
  }
  #tabs-list #li-for-panel-2 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-3 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-4 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-5 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }

  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    max-height: 46px;
    opacity: 1;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label,  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label,  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label,  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    background-color: white;
    color: #c0392b;
    background-color: #0B778B;
    color: white;
    box-sizing: border-box;
  }

  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    max-height: 46px;
    opacity: 1;
  }

  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    max-height: 46px;
    opacity: 1;
  }

  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    max-height: 46px;
    opacity: 1;
  }

  #panels .main_container {
    width: 100%;
  }
  #panels section header {
    display: block;
  }
	.nav_1,.nav_2,.nav_3,.nav_4,.nav_5{
		display: none !important;
	}

  /* 系統設定rwd */
  .add_person_title{
    display:block;
    margin-bottom: 5px;
  }
  .input_box_rwd{
    max-width:100%;
  }
  .add_person{
    display:none;
  }
  .content_list{
    flex-wrap: wrap;
    background-color: #fdfdfd;
    box-shadow: 0 0 6px rgba(34, 63, 128, 0.16);

  }
  .list_table  > ul > li{
    margin-bottom: 10px;
  }
  .list_table  > ul > li > ul >li{
    width: 50% !important;
    text-align: left !important;
    display: inline-flex;
    align-items: flex-start;
  }
  .list_table  > ul > li:first-child{
    display: none;
  }
  .company_use > ul > li > ul >li:nth-child(1){
    width: 100% !important;
    color: #263c6f;
    font-weight: 600;
    display: inline-block;
    width: 9em;
    font-size: 1.1em;
  }
  .company_use > ul > li > ul >li:nth-child(2):before{
    content: "API數量：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .company_use > ul > li > ul >li:nth-child(3):before{
    content: "使用總次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .company_use > ul > li > ul >li:nth-child(4):before{
    content: "成功次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .company_use > ul > li > ul >li:nth-child(5):before{
    content: "失敗次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .company_use > ul > li > ul >li:nth-child(6):before{
    content: "近一個月成功次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .company_use > ul > li > ul >li:nth-child(7):before{
    content: "近一個月失敗次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .api_use > ul > li > ul >li:nth-child(1){
    width: 100% !important;
    color: #263c6f;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    font-size: 1.1em;
  }
  .api_use > ul > li > ul >li:nth-child(2):before{
    content: "使用總次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .api_use > ul > li > ul >li:nth-child(3):before{
    content: "成功次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .api_use > ul > li > ul >li:nth-child(4):before{
    content: "失敗次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .api_use > ul > li > ul >li:nth-child(5):before{
    content: "近一個月成功次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .api_use > ul > li > ul >li:nth-child(6):before{
    content: "近一個月失敗次數：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .api_use > ul > li > ul >li:nth-child(7):before{
    content: "使用狀態：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 9em;
  }
  .api_enter > ul > li > ul >li:nth-child(1):before{
    content: "啟用：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 6em;
  }
  .api_enter > ul > li > ul >li:nth-child(2):before{
    content: "參數Key：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 6em;
  }
  .api_enter > ul > li > ul >li:nth-child(3):before{
    content: "參數類型：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 6em;
  }
  .api_enter > ul > li > ul >li:nth-child(4):before{
    content: "說明：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 6em;
  }
  .api_enter > ul > li > ul >li:nth-child(5):before{
    content: "預設值：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 6em;
  }
  .api_enter > ul > li > ul >li:nth-child(6):before{
    content: "可傳入預設：";
    color: #333;
    font-weight: 600;
    display: inline-block;
    width: 6em;
  }
  .setting_list>li>ul{
    flex-wrap: wrap;
  }
  .input_400{
    width:68%;
  }
  .setting_table ul{
    position:relative;
  }
  .setting_list>li>ul>li:nth-child(1){
    width: 100%;
  }
  .setting_list>li>ul>li:nth-child(2){
    width: 100%;
  }
  .setting_list>li>ul>li:nth-child(3){
    width: 100%;
  }
  .setting_list>li>ul>li:nth-child(4){
    width: 100%;
  }
  .setting_list>li>ul>li:nth-child(5){
    position: absolute;
    right: 5px;
    top: 39px;
    width: 27%;
  }
}
@media all and (min-width: 768px) {
		.panel-radios{
		display: none;
	}
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1,#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2,#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3,#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label, #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label,  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label,  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    background-color: white;
    color: #0B778B;
    padding-top: 8px;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after,#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after,#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after,#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label::after {
    height: 2px;
  }
  ul#tabs-list {
    /* text-align: center; */
    border-bottom: 1px solid #dfdfdf;
  }
  ul#tabs-list li {
    display: inline-block;
    text-align: center;
    font-size: 1.05em;
    width: 15%;
    position: relative;
    font-weight: 400;
  }
  ul#tabs-list li:hover {
    -webkit-transition: none;
    transition: none;
    border-right: none;
  }
  ul#tabs-list li label.panel-label {
    position: relative;
    padding: 8px 0;
  }
  ul#tabs-list li label.panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 98%;
    background-color: #0B778B;
    height: 0;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
  }
  ul#tabs-list li label.panel-label:hover {
    color: #0B778B;
  }
  ul#tabs-list li label.panel-label:hover::after {
    height: 4px;
  }

  #open-nav-label,
  #close-nav-label {
    display: none;
  }

  #nav-ctrl {
    display: none;
  }
}
@media all and (min-width: 900px) {
.panel-radios {
  position: fixed;
  left: 50%;
  top: 10px;
  width: 20px;
  opacity: 0.5;
  z-index: 99;
  display: none;
}
.panel-radios:nth-child(1) {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
.panel-radios:nth-child(2) {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}
.panel-radios:nth-child(3) {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.panel-radios:nth-child(4) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.panel-radios:nth-child(5) {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
.panel-radios:nth-child(6) {
  top: 30px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  display: block;
}



#introduction {
  width: 90%;
  margin: 0 auto;
  padding: 48px 24px;
  color: white;
}
#introduction h1 {
  font-weight: 300;
  text-align: center;
}

main h1 {
  margin-top: 0;
  font-weight: 300;
  color: #c0392b;
}
main p {
  line-height: 1.8;
}
main hr {
  margin: 12px 0;
  border-top: 1px solid #dfdfdf;
}

label.demo-label {
  background-color: #c0392b;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
label.demo-label:hover {
  background-color: #e74c3c;
}

#demo-child-toggle {
  display: none;
}
#demo-child-toggle:checked ~ #demo-parent #demo-child {
  color: #c0392b;
  font-weight: bold;
  text-transform: uppercase;
}

#demo-parent {
  margin-top: 8px;
}

code,
pre {
  color: #c0392b;
  font-family: Inconsolata, "Andale Mono", Andale, monowidth;
  background-color: #ecf0f1;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}

code {
  padding: 2px 6px;
}

pre {
  padding: 12px;
  line-height: 1.6;
}
pre strong {
  color: #444444;
  font-weight: normal;
}
}



