@charset'UTF-8';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);
body {
  color: #444444;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
.white-box{
	box-shadow: 0 0 6px rgba(34, 63, 128, 0.16);
}
.normal_text{
	color: #12C6AA;
}
.warning_text{
	color: #FF5A5A;
}
.wrapper{
	max-width: 1000px;
	margin: 0 auto;
}
ul#tabs-list {
  list-style: none;
  /* text-align: center; */
  border-bottom: 1px solid #dfdfdf;
  margin: 0;
  padding: 0;
}

label.panel-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 100%;
  color: #707070;
  cursor: pointer;
  /* background-color: #ecf0f1; */
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
label.panel-label:hover {
  color: #0B778B;
}

#panels {
  background-color: white;
}
#panels section header label.panel-label {
  padding: 12px 24px;
  box-sizing: border-box;
}
#panels section main {
  box-sizing: border-box;
  max-height: 0;
  opacity: 0;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
  overflow-y: hidden;
}

#panel-1-ctrl:checked ~ #panels #panel-1 main,#panel-2-ctrl:checked ~ #panels #panel-2 main,#panel-3-ctrl:checked ~ #panels #panel-3 main,#panel-4-ctrl:checked ~ #panels #panel-4 main {
  max-height: initial;
  opacity: 1;
  padding: 15px 0px;
}
.left_menu{
	width: 15%;
	float: left;
	margin-right: 15px;
}
.left_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.left_menu ul li{
	border-radius: 3px;
    width: 100%;
    padding: 8px;
    background-color: #E0F9FF;
    color: #3094A7;
    margin-bottom: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.left_menu ul li.active{
	background-color: #12AAC6;
	color: #FFF;
}
.left_menu ul li .numbers{
	color: #12AAC6;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	padding: 2px 3px;
	box-sizing: border-box;
	float: right;
}
.right_content{
	width: calc(85% - 15px);
	float: left;
}
.data_bar{
	display: flex;
	margin-bottom: 15px;
}
.data_bar .data_item{
	flex: 1;
	margin-right: 5px;
	box-shadow: 0 0 6px rgba(34, 63, 128, 0.16);
}
.data_bar .data_item .title{
	line-height: 27px;
	height: 27px;
	color: #FFF;
	text-align: center;
}
.data_bar .data_item .count{
	display: block;
	padding: 8px;
	text-align: center;
	box-sizing: border-box;
	font-size: 1.3em;
	color: #848484;
}
.color_1{
	background-color: #12C6AA;
}
.color_2{
	background-color: #E3BA0F;
}
.color_3{
	background-color: #B389D3;
}
.color_4{
	background-color: #768DF2;
}
.data_bar .data_item:nth-child(4n){
	margin-right: 0px;
}
.list_table{
	color:#707070;
	margin-bottom: 15px;
}
.list_table ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.list_table > ul > li > ul.thead li{
	background-color: #EAEAEA;
	color: #3B3B3B;
	padding: 5px 8px;
	box-sizing: border-box;
}
.company_use > ul > li > ul{
	display: flex;
}
.company_use .content_list{
	border-bottom: 1px solid #EFEFEF;
}
.company_use .content_list li{
	padding: 6px 8px;
	box-sizing: border-box;
}
.company_use > ul > li > ul >li:nth-child(1){
	width: 40%;
}
.company_use > ul > li > ul >li:nth-child(2){
	width: 10%;
	text-align: right;
}
.company_use > ul > li > ul >li:nth-child(3){
	width: 20%;
	text-align: right;
}
.company_use > ul > li > ul >li:nth-child(4){
	width: 20%;
	text-align: right;
}
.company_use > ul > li > ul >li:nth-child(5){
	width: 10%;
	text-align: center;
}
.chart{
	width: calc(50% - 5px);
	height: 300px;
	padding: 10px;
	box-sizing: border-box;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}
.chart:nth-child(even){
	margin-right: 0;
}
span.nav_1{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/nav_1.svg');
	position: relative;
	top: 1px;
}
span.nav_2{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/nav_2.svg');
	position: relative;
	top: 1px;
}
span.nav_3{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/nav_3.svg');
	position: relative;
	top: 1px;
}
span.nav_4{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../img/nav_4.svg');
	position: relative;
	top: 1px;
}
#panel-1-ctrl:hover ~ #tabs-list #li-for-panel-1 label .nav_1{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_1.svg);
    mask-image: url(../img/nav_1.svg);
}
#panel-2-ctrl:hover ~ #tabs-list #li-for-panel-2 label .nav_2{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_2.svg);
    mask-image: url(../img/nav_2.svg);
}
#panel-3-ctrl:hover ~ #tabs-list #li-for-panel-3 label .nav_3{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_3.svg);
    mask-image: url(../img/nav_3.svg);
}
#panel-4-ctrl:hover ~ #tabs-list #li-for-panel-4 label .nav_4{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_4.svg);
    mask-image: url(../img/nav_4.svg);
}

#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label .nav_1{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_1.svg);
    mask-image: url(../img/nav_1.svg);
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label .nav_2{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_2.svg);
    mask-image: url(../img/nav_2.svg);
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label .nav_3{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_3.svg);
    mask-image: url(../img/nav_3.svg);
}
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label .nav_4{
    background-color: #0B778B;
    -webkit-mask-image: url(../img/nav_4.svg);
    mask-image: url(../img/nav_4.svg);
}
@media all and (max-width: 767px) {
	.left_menu{
		width: 100%;
		margin-right: 0;
	}
	.left_menu ul li{
		float: left;
		width: auto;
		margin-right: 5px;
	}
	.right_content{
		width: 100%;
	}
	.panel-radios{
		display: none;
	}
	.data_bar{
		flex-wrap: wrap;
	}
	.data_bar .data_item{
		flex: inherit;
		width: calc(50% - 2.5px);
		margin-right: 5px;
	}
	.data_bar .data_item:nth-child(4n){
		margin-right: 5px;
	}
	.data_bar .data_item:nth-child(even){
		margin-right: 0px;
	}

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-5 {
    max-height: 46px;
    opacity: 1;
  }

  #open-nav-label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  #nav-ctrl:checked ~ #tabs-list #open-nav-label {
    display: none;
  }

  #close-nav-label {
    display: block;
    max-height: 0;
    overflow-y: hidden;
    background-color: #444444;
    color: #ecf0f1;
    padding: 0px;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
  }

  #nav-ctrl:checked ~ #tabs-list #close-nav-label {
    max-height: 36px;
    opacity: 1;
    padding: 12px 24px;
  }

  #tabs-list {
    position: relative;
  }
  #tabs-list label.panel-label {
    padding: 12px 15px;
    box-sizing: border-box;
  }
  #tabs-list #li-for-panel-1 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;	
  }
  #tabs-list #li-for-panel-2 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-3 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-4 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-5 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }

  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    max-height: 46px;
    opacity: 1;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label,  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label,  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label,  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    background-color: white;
    color: #c0392b;
    background-color: #0B778B;
    color: white;
    box-sizing: border-box;
  }

  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    max-height: 46px;
    opacity: 1;
  }

  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    max-height: 46px;
    opacity: 1;
  }

  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    max-height: 46px;
    opacity: 1;
  }

  #panels .container {
    width: 100%;
  }
  #panels section header {
    display: block;
  }
	.nav_1,.nav_2,.nav_3,.nav_4,.nav_5{
		display: none !important;
	}
}
@media all and (min-width: 768px) {
		.panel-radios{
		display: none;
	}
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1,#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2,#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3,#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label, #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label,  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label,  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    background-color: white;
    color: #0B778B;
    padding-top: 8px;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after,#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after,#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after,#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label::after {
    height: 2px;
  }
  ul#tabs-list {
    /* text-align: center; */
    border-bottom: 1px solid #dfdfdf;
  }
  ul#tabs-list li {
    display: inline-block;
    text-align: center;
    font-size: 1.05em;
    width: 15%;
    position: relative;
    font-weight: 400;
  }
  ul#tabs-list li:hover {
    -webkit-transition: none;
    transition: none;
    border-right: none;
  }
  ul#tabs-list li label.panel-label {
    position: relative;
    padding: 8px 0;
  }
  ul#tabs-list li label.panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 98%;
    background-color: #0B778B;
    height: 0;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
  }
  ul#tabs-list li label.panel-label:hover {
    color: #0B778B;
  }
  ul#tabs-list li label.panel-label:hover::after {
    height: 4px;
  }

  #open-nav-label,
  #close-nav-label {
    display: none;
  }

  #nav-ctrl {
    display: none;
  }
}
@media all and (min-width: 900px) {
.panel-radios {
  position: fixed;
  left: 50%;
  top: 10px;
  width: 20px;
  opacity: 0.5;
  z-index: 99;
  display: none;
}
.panel-radios:nth-child(1) {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
.panel-radios:nth-child(2) {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}
.panel-radios:nth-child(3) {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.panel-radios:nth-child(4) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.panel-radios:nth-child(5) {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
.panel-radios:nth-child(6) {
  top: 30px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  display: block;
}



#introduction {
  width: 90%;
  margin: 0 auto;
  padding: 48px 24px;
  color: white;
}
#introduction h1 {
  font-weight: 300;
  text-align: center;
}

main h1 {
  margin-top: 0;
  font-weight: 300;
  color: #c0392b;
}
main p {
  line-height: 1.8;
}
main hr {
  margin: 12px 0;
  border-top: 1px solid #dfdfdf;
}

label.demo-label {
  background-color: #c0392b;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
label.demo-label:hover {
  background-color: #e74c3c;
}

#demo-child-toggle {
  display: none;
}
#demo-child-toggle:checked ~ #demo-parent #demo-child {
  color: #c0392b;
  font-weight: bold;
  text-transform: uppercase;
}

#demo-parent {
  margin-top: 8px;
}

code,
pre {
  color: #c0392b;
  font-family: Inconsolata, "Andale Mono", Andale, monowidth;
  background-color: #ecf0f1;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}

code {
  padding: 2px 6px;
}

pre {
  padding: 12px;
  line-height: 1.6;
}
pre strong {
  color: #444444;
  font-weight: normal;
}

/* 系統設定 */
/* 標題文字 */
.item_title{
  font-size:18px;
  color:#0B778B;
  font-weight:bold;
  display:inline-block;
}
.item_title_box{
  margin-bottom:8px;
}
/* button */
.btn_font15{
  color:#ffffff;
  font-size:15px;
  padding:3px 5px;
  border-radius:3px;
  cursor:pointer;
}

.btn_font14{
  color:#ffffff;
  font-size:14px;
  padding:3px 5px;
  border-radius:3px;
  cursor:pointer;
}

.btn_lightblue{
  background-color:#1CA9D3;
}
.btn_lightblue:hover{
  background-color:#0BBFF5;
  transition:all 0.2s ease 0s;
}

.btn_deepblue{
  background-color:#367F9A;
}
.btn_deepblue:hover{
  background-color:#27B1C3;
  transition:all 0.2s ease 0s;
}

.btn_green{
  background-color:#039B1A;
}
.btn_green:hover{
  background-color:#47B198;
  transition:all 0.2s ease 0s;
}

.btn_red{
  background-color:#D16666;
}
.btn_red:hover{
  background-color:#FF4B4B;
  transition:all 0.2s ease 0s;
}

.btn_yellow{
  background-color:#FCC42D;
}
.btn_yellow:hover{
  background-color:#FFCE00;
  transition:all 0.2s ease 0s;
}

.flo_right{
  float:right;
  display:inline-block;
}

/* 新增人員 */
.add{
  margin-bottom:12px;
  background-color:#F5F5F5;
  padding:8px 0;
}
.add_person{
  display:inline-block;
  color:#535353;
  font-size:15px;
  font-weight:bold;
  margin:0 10px;
}
.add_person_title{
  color:#6F6F6F;
  font-size:15px;
  font-weight:bold;
  margin-left:7px;
}

/* 快速新增 */
.search_btn{
  color:#007FB7;
  font-size:14px;
  display:inline-block;
  padding:1px 8px;
  cursor:pointer;
  border: 0px;
  border-bottom:solid 2px #ffffff;
  outline:none;
}
.search_btn:focus{
  border-bottom:solid 2px #007FB7;
}
.search_btn:hover{
  border-bottom:solid 2px #007FB7;
  transition:all 0.2s ease 0.1s;
}

/* 輸入框樣式 */
.input_box{
  outline:none;
  border-radius:3px;
  border:solid 1px #E0E0E0;
  padding:3px 5px;
}
.input_box


