<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="css/new_api.css">
	</head>
	<body class="def_rwd">
		<div class="new_student_data_1 ng-scope" ng-if="!modal.edit">
			<div class="green_title">API資訊</div>
			
			<div class="form-2">API型別</div>
			<div class="form-4">
				<div class="content">
					<select name="" id="">
						<option value="">請選擇API</option>
					</select>
				</div>
			</div>
			<div class="form-2">API操作類別</div>
			<div class="form-4">
				<div class="content">
					123
				</div>
			</div>
			
			<div class="form-2">*專案API名稱</div>
			<div class="form-10">
				<div class="content">
					<input type="text" placeholder="專案API名稱">
				</div>
			</div>
			<div class="form-2">*呼叫路徑</div>
			<div class="form-4">
				<div class="content">
					<input type="text" placeholder="呼叫路徑">
				</div>
			</div>
			
			<div class="form-2">啟用/停用</div>
			<div class="form-4">
				<div class="content">
					<input type="checkbox" id="switch" /><label for="switch">Toggle</label>
				</div>
			</div>
			<div class="form-2">判斷第三方存取</div>
			<div class="form-4">
				<div class="content">
					
				</div>
			</div>
			
			<div class="form-2">加密模式</div>
			<div class="form-4">
				<div class="content">
					<select name="" id="">
						<option value="">不加密</option>
					</select>
				</div>
			</div>
			<div class="form-2">第二國籍</div>
			<div class="form-4">
				<div class="content">
					<!-- ngIf: modal.data.continent2 != '01' --><span ng-bind="modal.data.continent_name2" ng-if="modal.data.continent2 != '01'" class="ng-binding ng-scope"></span><!-- end ngIf: modal.data.continent2 != '01' -->
					<span ng-bind="modal.data.stdcountry_name2" class="ng-binding"></span>
				</div>
			</div>
			
			<div class="form-2" style="letter-spacing:0.5em;">出生地</div>
			<div class="form-4">
				<div class="content">
					<span ng-bind="modal.data.birthplace" class="ng-binding"></span>
				</div>
			</div>
			<div class="form-2" style="letter-spacing:0.5em;">僑居地</div>
			<div class="form-4">
				<div class="content">
					<span ng-bind="modal.data.overseas" class="ng-binding"></span>
				</div>
			</div>
			
			<div class="form-2">學生電話</div>
			<div class="form-4">
				<div class="content">
					<span ng-bind="modal.data.cpgsm" class="ng-binding"></span>
				</div>
			</div>
			<div class="form-2">電子郵件</div>
			<div class="form-4">
				<div class="content">
					<span ng-bind="modal.data.mail" class="ng-binding"></span>
				</div>
			</div>
			
			<div class="form-2">戶籍電話</div>
			<div class="form-4">
				<div class="content">
					<span ng-bind="modal.data.hptel" class="ng-binding"></span>
				</div>
			</div>
			<div class="form-2">聯絡電話</div>
			<div class="form-4">
				<div class="content">
					<span ng-bind="modal.data.cptel" class="ng-binding"></span>
				</div>
			</div>
			
			<div class="form-2">戶籍地址</div>
			<div class="form-10">
				<div class="content">
					<span ng-bind="modal.data.h_addr" class="ng-binding"></span>
				</div>
			</div>
			
			<div class="form-2">聯絡地址</div>
			<div class="form-10">
				<div class="content">
					<span ng-bind="modal.data.c_addr" class="ng-binding"></span>
				</div>
			</div>
		
			
		</div>
	</body>
</html>