

*{padding:0;margin:0;}

.clear{
	clear:both;
}
img{
	max-width:1024px;}
.contact_form{
	padding: 15px 0;
	font-size: 16px;
	margin-bottom: 15px;
}
/* 設計理念 */
.APP_banner_img{
	margin-bottom:40px;
}
.APP_container{
	color:#293E53;
}
.APP_designconcept{
	color:#797979;
	font-size:15px;
	margin-bottom:30px;
}
.APP_application_introduce{
	margin-bottom:50px;
}
/* 大標題 */
.section_title{
	margin:10px 0;
	border-bottom: 1px solid #E3E3E3;
}
.section_title_bg{
	font-size:25px;
	color:#293E53;
	font-weight:500;
	display: inline-block;
	padding: 15px 0;
}
.section_title_sm{
	font-size:14px;
	color:#909090;
	font-weight:300;
}
.all_product_title_underline{
	background-color:#E3E3E3;
	height:1px;
	width:100%;
	margin:15px 0;
}

/* 應用功能 */
.APP_application_list_up{
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:0 auto;
	padding-bottom:30px;

}
.APP_application_list_up a{
	display:inline-flex;
	color:#363636;
	border:solid 1px #B6B6C1;
	padding:12px 0px;
	width:calc(20% - 20px);
	margin:15px 0px;
	background-color:#ffffff;
	text-align:center;
	border-radius:0px;
	position: relative;
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
	align-items: center;
}
.APP_application_list_up a:before{
	content: "";
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url('../img/list_item.png');
	margin-right: 5px;
}
.APP_application_list_up a:after{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 15px 0;
	border-color: transparent #0069C3 transparent transparent;
	position: absolute;
	top: 0;
	right: 0;
}
.APP_application_list_up a:hover{
	background-color:#293E53;
	color:#ffffff;
	text-decoration:none;
	transition:all 0.5s;
}
.APP_application_list_up a:hover:after{
	border-color: transparent orange transparent transparent;
}
.APP_application_list_up a:active{
	background-color:#293E53;
	color:#ffffff;
}

/* 客戶實例 */
.APP_customer_picture{
	background-image:url('../img/APP_customer.png');
	background-repeat:no-repeat;
	padding:50px 0;
}
.APP_customer_picture_bgc{
	background-color:rgba(0,0,0,.3);
	text-align:center;
	padding:30px 0;
}
.APP_customer_picture_bgc span{
	color:#ffffff;
	font-size:32px;
	font-weight:300;
}
.APP_customer_container span{
	color:#333333;
	font-size:15px;
	font-weight:300;
	display:inline-block;
	margin-bottom:10px;
}
.APP_customer_container span:before{
	content:"";
	width:4px;
	height: 4px;
	background-color:#707070;
	display:inline-block;
	position:relative;
	top:-3px;
	margin-right:5px;
}
<<<<<<< HEAD


/* 下載安裝 */
.APP_download_img{
	background:url("../img/APP_download.jpg") no-repeat;
	width:100%;
	padding:40px 0;
=======
.APP_customer_container span:after{
	content: "";
	margin-right:93px;
>>>>>>> b46bcf4339d776822019455c47bb93e5cd7e63aa
}
.APP_customer_bottom{
	text-align:center;
	background-color:#F4F4F4;
	width:100%;
	padding:20px;
	margin-top: 12px;
}
.APP_customer_bottom span{
	color:#504C4C;
	font-size:18px;
	font-weight:normal;
}
.APP_customer_word:before{
	content:"130";
	color:#504C4C;
	font-size:29px;
	font-weight:bold;
	display:inline-block;
	position:relative;
	top:3px;
	padding:0 10px;
}

/* 聯繫我們 */
.APP_contact_container{
	color:#504C4C;
	font-size:18px;
	margin-right:150px;
	display:inline-block;
	margin-top: 15px;
}
.APP_contact_word{
	font-size:14px;
}
.APP_contact_word:before{
	content:"詢價請洽";
	color:#7D7A7A;
	padding:0 5px;
}
.APP_contact_bottom{
	color:#5A5A5A;
	font-size:16px;
	text-align:center;
	background-color:#EDF8FF;
	padding:10px 0;
	font-weight:300;
	margin: 30px 0;
}

@media(max-width:768px){
<<<<<<< HEAD
/* body{
	margin:-297px;
} */

.APP_application_list_up a {
	width: calc(50% - 8px);
}
=======
>>>>>>> b46bcf4339d776822019455c47bb93e5cd7e63aa

.APP_application_list_up{
	width:auto;
	text-align: center;
}

}


*{
	padding:0; margin:0;
}
.clear{
	clear:both;
}

.client_banner{
	text-align:center;
	background-image:url("../img/client_banner.svg");
}
.client_banner h4{
	font-weight:400;
	color:#293E53;
	padding:90px 0;
	font-size:30px;
	margin-bottom:30px;
	margin-top:0px
}

.client_inside{
	max-width:1280px;
	text-align:center;
}
.client_inside span{
	display:inline-block;
	vertical-align:top;
	text-align:left;
}

.client_left{
	margin-right:18px;
	width: calc(30% - 20px);
}
.client_left h3{
	color:#043E79;
	font-size:23px;
	font-weight:400;
	margin-bottom:10px;
	margin-top: 0;
}
.client_left p{
	font-size:16px;
	font-weight:400;
	padding:9px 0px;
	margin:0;
}
.client_left p span{
	color: #656565;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8em;
}
.client_left .client_left_last_p{
	border-bottom:solid 1px #e4e4e4;
}
.client_right{
	width: calc(70% - 20px);
	margin-left:18px;
}
.client_right_title{
	color:#293E53;
	font-size:16px;
	font-weight:400;
	position:relative;
	top:7px;
	margin-right:6px
}
.client_right_box input,.client_right_box textarea{
	width: calc(100% - 4.5em);
	outline: none;
    border: solid 1px #d4d4d4;
    /* box-shadow: 0 0 3px gainsboro; */
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    resize: none;
}
.client_right_box textarea{
	margin-bottom:5px;
}
.client_input_1{
	width:230px;
}
.client_input_2{
	width:140px
}
.client_input_3{
	width:150px;
}
.client_input_4{
	width:200px
}
.client_input_5{
	width:230px;
	height:150px;
}
/* 控制輸入格裡字的顏色粗細 */
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	color:#999;
	font-weight:400;
	font-size:14px;
}
input::-moz-placeholder,textarea::-moz-placeholder{
	color:#999;
	font-weight:400;
	font-size:14px
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
	color:#999;
	font-weight:400;
	font-size:14px
}
/* 送出按鈕 */
.client_submit{
	background-color:#20b3d4;
	color:#ffffff;
	border: 0;
	border-radius:3px;
	padding:1em 6em;
	font-weight:400;
	outline:none; /* 去掉點擊會出現的藍框 */
	width: calc(100% - 4em);
	float: right;
	margin-bottom: 2em;
	font-size: 16px;
}
.client_submit_box{
	text-align:center;
	margin-bottom:15px;
}
.client_submit:hover{
	background-color:#043E79;
	transition:all .3s
}
.client_submit:active{
	background-color:#043E79;
}
.client_left img{
	width:15px
}
.client_right img{
	width:13px;
	position:relative;
	bottom:2px;
}

@media(max-width:768px){
	.client_banner h4{
		margin-bottom:15px;
	}
	.client_right{
		width: 100%;
		margin-top:15px;
		margin-left:0px;
	}
	.client_left{
		margin-right:18px;
		width: 100%;
	}
}

