/* 新生線上報到 */

/* 設計理念的報到三步驟 */
.newStudent_product_designconcept{
	display:flex;
	justify-content:center;
}

.newStudent_product_designconcept span{
	display:inline-block;
	text-align:center;
}

.newStudent_product_designconcept span h5{
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
}

.newStudent_product_designconcept span p{
	color:#ffffff;
	font-size: 14px;
	font-weight:bold;
}

.newStudent_product_onebox,.newStudent_product_twobox,.newStudent_product_threebox{
	border-radius:5px;
	box-shadow:0 3px 6px #B4B4B4;
	width:200px;
}

.newStudent_product_onebox{
	background-color:#48C6A0;
	position:relative;
	padding: 8px 5px;
}

.newStudent_product_onebox small{
	color:#339A7B;
}

.newStudent_product_twobox{
	background-color:#036ECB;
	position:relative;
	padding: 8px 5px;
}

.newStudent_product_twobox small{
	color:#0E4E86;
}

.newStudent_product_threebox{
	background-color:#FF984D;
	position:relative;
	padding: 4px 5px;
}

.newStudent_product_threebox small{
	color:#BA5B16;
}

.newStudent_product_onebox small,.newStudent_product_twobox small,.newStudent_product_threebox small{
	position:absolute;
	font-size:60px;
	left:-5px;
	top:-5px;
}


.newStudent_greenarrow i,.newStudent_bluearrow i{
	display:inline-flex;
	align-items:center;
	height: 135px;
	font-size:38px;
	padding:0 30px;
}

.newStudent_greenarrow i{
	color:#48C6A0;
}

.newStudent_bluearrow i{
	color:#036ECB
}

.newStudent_product_p{
	display:block;
	text-align:center;
	margin:20px 0;
	font-size:16px;
	color:#293E53;
}

/* 線上報到畫面 */
.newStudent_report_online_up{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.newStudent_report_online_up img{
	width:60%;
}
.newStudent_report_online_up p{
	color:#797979;
	font-size:15px;
	padding-left:60px;
	margin-top: 20px;
}

.newStudent_report_online_down {
    margin-top: 30px;
    margin-bottom: 50px;
}

.newStudent_report_online_left{
	display:inline-block;
	width:55%;
	vertical-align: top;
}

.newStudent_report_online_left img{
	width:100%;
}

.newStudent_report_online_right{
	display:inline-block;
	margin-left:40px;
	width:40%;
}

.newStudent_report_online_right p{
	color:#797979;
}

.newStudent_report_online_right div:nth-child(1),.newStudent_report_online_right h5{
	margin-top:50px;
}

.newStudent_report_online_right div{
	margin-top:25px;
}

.newStudent_report_online_right h6{
	color:#0062C4;
	font-size:17px;
	font-weight:bold;
	margin-bottom: 6px;
	margin-top:0px;
}


/* 學校設定畫面 */
.newStudent_setting_screen h5{
	color:#0062C4;
	font-size:21px;
	font-weight:bold;
}

.newStudent_setting_screen h6{
	color:#043E79;
	font-weight:bold;
	font-size:17px;
}

.newStudent_setting_screen_down h6,.newStudent_setting_screen_down p{
	margin-left: 15px;
}

.newStudent_setting_screen_down h6{
	margin-bottom: 6px;
}


/* 學校設定畫面 */
.newStudent_setting_screen_down{
	width:49%;
	display:inline-block;
}

.newStudent_setting_screen_down p{
	color:#797979;
}

.newStudent_setting_screen_down img{
	width:100%;
}

/* 客戶實例 */
.newStudent_customer_in{
	margin-top: 40px;
}

.newStudent_customer_left{
	width:48%;
	display:inline-block;
	vertical-align:top;
}

.newStudent_customer_left img{
	width:95%;
}

.newStudent_customer_right{
	width:48%;
	display:inline-block;
}

.newStudent_customer_right h5{
	color:#0062C4;
	font-size:37px;
	font-weight:bold;
	padding-bottom: 20px;
}

.newStudent_customer_right_in span{
	display:inline-block;
	width:7em;
	margin:8px 0;
	color:#707070;
	font-size:15px;
}

.newStudent_customer_right_in span:before{
	content:"";
	display:inline-block;
	width:5px;
	height:5px;
	background-color:gray;
	position:relative;
	top:-2px;
	margin-right:5px;
}

.newStudent_customer_in h6{
	color:#707070;
	font-size: 34px;
	font-weight:bold;
	margin-top: 40px;
}

.newStudent_customer_in h6 span{
	color:#293E53;
	font-size:51px;
	padding:0 5px;
}

/* 新版客戶實例 */

.newstu_city_out{
	max-width:100%;
}

.newstu_city{
	width:calc(25% - 15px);
	background-repeat: no-repeat;
	padding:40px 0;
	margin-right:10px;
	display:inline-block;
}

.newstu_city_in{
	background-color:rgba(0,0,0,0.3);
	margin:20px 0;
	padding:15px 0;
	color:#ffffff;
	font-size:30px;
	text-align:center;
	font-weight:300;
}

.newstu_city_sml{
	font-size:18px;
	display:block;
	padding-top:8px;
}

.newstu_city01{
	background-image: url("../img/newStudent/customer-01.jpg");
	opacity:95%;
}

.newstu_city02{
	background-image: url("../img/newStudent/customer-02.jpg");
	opacity:95%;
}

.newstu_city03{
	background-image: url("../img/newStudent/customer-03.jpg");
	opacity:95%;
}

.newstu_city04{
	background-image: url("../img/newStudent/customer-04.jpg");
	opacity:95%;
}

.newstu_cus_bottom{
	background-color: #F4F4F4;
    width: 100%;
    padding: 20px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    color:#565656;
}

.newstu_cus_bottom span{
	font-size:25px;
	margin:0 3px;
	color:#353535;
}


/* .APP_customer_picture_bgc .newStudent_customer_words{
	font-size:18px;
	color:#f1f1f1;
	display:inline-block;
	margin:0 5px;
	margin-bottom:18px;
}

.APP_customer_picture_bgc .newStudent_customer_words::before{
	content:"";
	display:inline-block;
	background-color:#f1f1f1;
	width:4px;
	height:4px;
	border-radius:50%;
	position:relative;
	top:-4px;
	margin-right:5px;
}

.newStudent_customer_bgc{
	background-color: rgba(0,0,0,.3);
}

.newStudent_customer_bg{
	background-image: url("../img/customer-0615.jpg");
	width: 100%;
	background-repeat: no-repeat;
} */


@media(max-width:768px){
	.newStudent_product_designconcept{
		display:block;
		text-align:center;
	}

	.newStudent_product_designconcept span{
		display: block;
		margin:0 auto;
	}

	.newStudent_greenarrow,.newStudent_bluearrow{
		transform: rotate(90deg);
		height:auto;
		display:block;
	}

	.newStudent_greenarrow i, .newStudent_bluearrow i{
		height:60px;
	}

	.newStudent_report_online_up img{
		width:100%;
	}

	.newStudent_report_online_up p{
		padding-left: 0;
	}

	.newStudent_report_online_down{
		display:flex;
		flex-wrap:wrap;
		margin-top:0px;
	}

	.newStudent_report_online_up{
		margin-bottom: 0;
	}

	.newStudent_report_online_left{
		order:2;
		width:100%;
	}

	.newStudent_report_online_right{
		width:100%;
		margin-left: 8px;
	}

	.newStudent_report_online_right div:nth-child(1),.newStudent_setting_screen h5{
		margin-top: 20px;
	}

	.newStudent_report_online > .newStudent_report_online_right div:nth-child(1){
		margin-top:0px;
	}

	.newStudent_report_online_right div{
		margin-top:15px;
	}

	.newStudent_setting_screen_down{
		display:block;
		width:100%;
		margin-bottom: 40px;
	}

	.newStudent_customer_in{
		margin-top: 0px;
	}

	.newStudent_customer_left,.newStudent_customer_right{
		display:block;
		width:100%;
		margin-top: 30px;
		text-align:center;
	}

	.newStudent_customer_right_in span{
		margin:4px 0;

	}

	.newStudent_customer_in h6{
		margin-top: 30px;
	}

	.newStudent_customer_right h5{
		padding-bottom: 0;
		line-height:48px;
	}
}
