.menu_bar{
	padding-bottom: 0;
	ul{
		display: flex;
		li{
			display: inline-flex;
			align-items: center;
			padding-bottom: 12px;
			font-size: $font-md;
			color: $text-color;
			margin-right: 16px;
			cursor: pointer;
			&.active{
				color: $main-color;
				border-bottom: 4px solid $main-color;
				padding-bottom: 8px;
			}
		}
	}
}


.inputGroup {
	background-color: #fff;
	display: inline-block;
	position: relative;
	margin-right: 5px;
}
.inputGroup label {
	padding:8px;
	border-radius: 2px;
	display: block;
	text-align: left;
	color: $text-color;
	cursor: pointer;
	position: relative;
	z-index: 2;
	-webkit-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
	overflow: hidden;
	border: 1px solid #a3a3a3;
	font-size: 16px;
	margin-bottom: 0;
}
.inputGroup label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: #a3a3a3;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	-webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}
.inputGroup label:after {
	content: '';
}
.inputGroup input:checked ~ label {
	color: #fff;
}
.inputGroup input:checked ~ label:before {
	-webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}
.inputGroup input:checked ~ label:after {
	background-color: #a3a3a3;
	border-color: #54E0C7;
	display: none;
}
.inputGroup input {
	position: absolute;
	left: 0px;
	top: 50%;
	visibility: hidden;
}
label,
label::before,
label::after {
	box-sizing: inherit;
}

.calendar{
	display:flex;
	align-items: center;
	input[type="date"]{
		margin-right:8px;
	}
	img{
		width: 24px;
		height: 24px;
		margin-right:8px;
	}
}


// 申請請假 手機版
.calendar.inline-block{
	display: inline-block !important;
	vertical-align: middle;
}

.send-btn-phone{
	border-radius:12px;
}

.phone-mb24{
	margin-bottom:40px;
}

.open-date-btn{
	display: none;
}

@media(max-width:768px){
	.phone-relative{
		position: relative;
	}

	.add-date-btn{
		position:absolute;
	    top: 0px;
		right: 0px;
		padding: 4px 12px;
	}

	.inputGroup{
		margin-right:8px;
		margin-bottom:8px;
	}

	.phone-mb24{
		margin-bottom:24px;
	}

	.open-date-btn{
		display: block;
		padding:4px 12px;
		margin-top:4px;
		margin-bottom:16px;
	}

	.send-btn-phone{
		padding:8px 52px;
	}
}




