// 網頁主色配置
$main-color: #1db7bd;
$primary-color: #ff9b3f;

// 文字顏色配置
$text-color: #828282;
$title-color: #323232;
$font-sm: 16px;
$font-md: $font-sm * 1.125;
$font-lg: $font-sm * 1.5;


$container-xs: 100%;
$container-md: 1152px;

$margin-sm:8px;
$margin-md: $margin-sm * 2;

