
// 防疫假細項 下拉樣式
.select-chouse {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
  cursor: pointer;
}

.select-option {
  padding:0 30px 0 4px;
  min-height:33px;
  display:flex;
  align-items:center;
  position:absolute;
  top:0;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  // transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
  background-color: #ffffff;
  color:#323232;
}

.select-option:hover {
  background:#f6f6f6;
  cursor: pointer;
}

.select-chouse:focus{
  border:0px;
}
  
.select-chouse:focus .select-option {
  position:relative;
  pointer-events:all;
}

input.selectopt {
  opacity:0;
  position:absolute;
  left:-99999px;
}

input.selectopt-top + label.select-option-top{
	display: none;
}


input.selectopt-top:checked + label.select-option-top{
	display: flex;
}

input.selectopt:checked + label.select-option {
  order: 0;
  z-index:2;
  border-top:none;
  position:relative;
  border-bottom:solid 1px #a3a3a3;
  background-color: #ffffff;
}

input.selectopt:checked + label.select-option:after {
  content:'';
  width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #a3a3a3;
  position:absolute;
  right:10px;
  top:calc(50% - 2.5px);
  pointer-events:none;
  z-index:3;
}

input.selectopt:checked + label.select-option:before {
  position:absolute;
  right:0;
  height: 40px;
  width: 40px;
  content: '';
  background:#ffffff;
}


.select-chouse .select-opt-box{
  display: none;
  z-index: 9999;
  background-color: #ffffff;
  padding: 10px 2px;
}

.select-chouse .select-opt-box label{
  padding:12px 8px;
  display: block;
}

.select-chouse:focus .select-opt-box{
  display: block;
}

.select-opt-box{
	position: relative;
    top: 6px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #cccccc;
    outline: none;
}


// 選擇學生 下拉
.select-student{
  select{
    outline: none;
  }
  span{
    display: inline-block;
    margin-right: 6px;
    select{
      display: inline-block;
      font-size: $font-sm;
      border-radius: 2px;
      border: 1px solid #a3a3a3;
      color: #828282;
      padding: 8px;
      min-width: 5em;
    }
  }
}

.select-student01{
  display: flex;
}

.chouse-student{
  margin-top: 10px;
  a , span{
    color: #1FB7BD;
  }
  a{
    display: inline-block;
    &:hover{
      opacity: 0.72;
    }
  }
}

.select-chouse-box{
  width:8.5em;
}

.select-chouse-box02{
  width:6.5em;
}

.select-chouse-box .selectopt:checked + label.select-option{
  border:solid 1px #e0e0e0;
  border-radius: 8px;
  height: 40px;
  color:#808080;
}


.select-chouse-box .select-option{
  min-height: 40px;
}

@media(max-width:768px){
  .chouse-student{
    a{
      margin-top: 8px;
      &:first-child{
        margin-top: 0px;
      }
    }
  }
}